/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap-css-only/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.css";
@import "../node_modules/ionicons/css/ionicons.css";
@import "../node_modules/admin-lte-css/dist/css/AdminLTE.css";
@import "../node_modules/admin-lte-css/dist/css/skins/_all-skins.css";


// Can be replaced with utility library

.d-flex {
    display: flex;

    &.flex-center {
        justify-content: center;
        align-items: center;
    }

    &.justify-content-center {
        justify-content: center;
    }

    &.align-items-center {
        align-items: center;
    }

    &.col {
        flex-direction: column;
    }
}
